extends base
block content 
    h2 Forgot Your Password 
    form(method='POST' action='/forgotPassword')
      p
        input#email(type='email' name='email' placeholder='Email Address' required='')  
      p
        input#signup(type='submit' value='SUBMIT')